node_targets:
  - server01
  - server02
  - server03

win_targets:
  - win_server01
  - win_server02
  - win_server03

icmp_targets:
  - icmp_target01
  - icmp_target02
  - icmp_target03

idrac_targets:
  - idrac_server01
  - idrac_server02
  - idrac_server03
