{{ define "telegram.default" }}
{{ range .Alerts }}
{{ if eq .Status "firing" }}
&#128293; <b>Alert:</b> {{ .Labels.alertname }}
{{ else if eq .Status "resolved" }}
&#x2705; Alert {{ .Labels.alertname }} has been resolved
{{ end }}
<b>Instance</b>: {{ .Labels.instance }}  
<b>Description</b>: {{ .Annotations.description }}  
<b>Start Time</b>: {{ .StartsAt.Format "Mon 02 2006 Jan 15:04:05" }}
{{ if eq .Status "resolved" }}<b>End Time</b>: {{ .EndsAt.Format "Mon 02 2006 Jan 15:04:05" }}
{{ end }}
{{ end }}
{{ end }}

