global:
  scrape_interval:     10s
  evaluation_interval: 10s

rule_files:
  - rules.yml

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - alertmanager:9093

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ['localhost:9090']

  - job_name: "node exporter"
    static_configs:
      - targets:
{% for item in node_targets %}
        - {{ item }}:9100
{% endfor %}

    relabel_configs:
      - source_labels: [__address__]
        regex: ([^:]+):\d+
        target_label: instance
        replacement: ${1}

  - job_name: "windows exporter"
    static_configs:
      - targets:
{% for item in win_targets %}
        - {{ item }}:9182
{% endfor %}

    relabel_configs:
      - source_labels: [__address__]
        regex: ([^:]+):\d+
        target_label: instance
        replacement: ${1}

{% if enable_blackbox %}
  - job_name: 'Blackbox_ICMP'
    scrape_interval: 1m
    metrics_path: /probe
    params:
      module: [icmp]
    file_sd_configs:
      - files:
        - /etc/prometheus/blackbox_icmp.yml
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox_exporter:9115
{% endif %}
